[project]
	description = A small clone of 1024 (https://play.google.com/store/apps/details?id=com.veewo.a1024)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yashin-luo
[access "refs/for/refs/*"]
	read = group user/yashin-luo
	push = group user/yashin-luo
	label-Code-Review = -2..+2 group user/yashin-luo
	label-Verified = -1..+1 group user/yashin-luo
	rebase = group user/yashin-luo
	removeReviewer = group user/yashin-luo
	submit = group user/yashin-luo
[access "refs/heads/*"]
	read = group user/yashin-luo
	create = group user/yashin-luo
	push = +force group user/yashin-luo
	pushMerge = group user/yashin-luo
[access "refs/tags/*"]
	push = +force group user/yashin-luo
	pushTag = group user/yashin-luo
	pushSignedTag = group user/yashin-luo
